# Database
DB_USER=rms-dev
DB_PASSWORD=devpassword
DB_NAME=room_management_system

# PostgreSQL config
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
