# Database
PG_HOST=localhost
PG_PORT=5432
PG_USER=rms-dev
PG_PASSWORD=devpassword
PG_DATABASE=room_management_system

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Mail
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@example.com
APP_VALIDATION_URL=http://localhost:8080/api/accounts/requests/validate
